body {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Playwrite USA Modern", sans-serif;
}

header {
    border-bottom: solid 2px white;
    padding: 21px;
    font-size: 32px;
    color: white;
}

section {
    background: rgb(88, 87, 87);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 5%;
}

